biopython==1.81
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
dna-features-viewer==3.1.2
et-xmlfile==1.1.0
fonttools==4.39.3
freetype-py==2.3.0
gprofiler-official==1.0.0
idna==3.4
joblib==1.2.0
json5==0.9.14
kiwisolver==1.4.4
llvmlite==0.40.0
logomaker==0.8
matplotlib==3.7.1
networkx==3.1
numba==0.57.0
numpy==1.24.3
openpyxl==3.1.2
pandas==2.0.1
patsy==0.5.3
Pillow==9.5.0
ply==3.11
pycairo==1.23.0
pynndescent==0.5.10
pyparsing==3.0.9
PyQt5==5.15.7
python-dateutil==2.8.2
pytz==2023.3
reactome2py==3.0.0
reportlab==4.0.0
requests==2.30.0
rlPyCairo==0.2.0
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
six==1.16.0
statsmodels==0.13.5
threadpoolctl==3.1.0
tqdm==4.65.0
tzdata==2023.3
umap-learn==0.5.3
urllib3==2.0.2
