<!DOCTYPE html>

<head>
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/index.css">
	<link rel="stylesheet" type="text/css" href="../static/error.css">

</head>

<body>
	
	<img id="logo" alt="DTU logo" src="../static/DTU_logo.png">

	<h1 id="center">Peptide annotator</h1>

	<hr/>

	<p>
		Thanks for submitting your job with ID <b>{{jobid}}</b>. Unfortunately, your query resulted in an internal error. More specifically, the error was:
	</p>
	
	<pre>
		<code>
			{{error}}
  		</code>
	</pre>

	<p>
		Please inspect your input parameters and <a href="{{url_for('index')}}">try again</a>.
	</p>

</body>
